/* src/Calendar.css */
.calendar {
    width: 300px;
    margin: 0 auto;
}

.month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
}

.month-name {
    font-size: 1.25rem;
}

.prev, .next {
    cursor: pointer;
}

.weekdays, .days {
    display: flex;
    flex-wrap: wrap;
}

.weekdays div, .day {
    width: 14.28%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.day {
    cursor: pointer;
}

.day:hover {
    background-color: #ddd;
}

.calendar .days .day.has-event {
    background-color: #ffecb3;
    border: 1px solid #ff9800;
}

.days .day.prev-next-month {
    color: #999;
}

.popup-inner > form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & div:first-child {
        display: flex;
        flex-direction: column;
        gap: 2px;

        & > input {
            padding: 10px;
            border: 2px solid #373A40;
            border-radius: 5px;
            background-color: white;

            color: #1a1a1a;
        }

        & > input:focus {
            border: 2px solid #007bff;
            outline: none !important;
        }
    }

    & div:last-child {
        display: flex;
        justify-content: space-between;
    }
}