#root {
    margin: 0 auto;
    text-align: center;
}

#main-container {
    background-color: white;
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 10vh 90vh;

    & > #navbar {
        background-color: orange;
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        align-items: center;
    }

    & > #user-profile {
        background-color: pink;
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        align-items: center;

        gap: 15px;


        & > .dialog-icon {
            height: 70%;
            aspect-ratio: 1;
            border-radius: 50%;
        }

        & > div {
            & > h1 {
                font-size: 24px;
                margin-bottom: 0;
            }

            & > #status {
                font-size: 16px;
                margin: 0 0 0 5px;
                color: grey;
                text-align: left;
            }
        }

    }

    & > #sidebar {
        background-color: green;
        display: grid;
        grid-auto-rows: 10%;

        & > .chat-panel {
            display: flex;
            background-color: coral;
            justify-content: flex-start;
            padding-left: 15px;
            align-items: center;

            text-align: left;

            &:hover{
                opacity: 20%;
            }

            & > h1 {
                font-size: 18px;
                flex-basis: 60%;
            }

            & > .dialog-icon {
                height: 60%;
                aspect-ratio: 1;
                border-radius: 50%;
            }
        }
    }

    & > #chat-window {
        display: grid;
        grid-template-rows: 92% 8%;
        background-color: cornflowerblue;

        & > #message-window {
            display: grid;

            & > .msg {
                margin: 5px 10px 5px 10px;

                grid-auto-rows: 20px;
            }

            & > .my-msg {
                background-color: blueviolet;

            }

            & > .received-msg {
                background-color: blue;

            }
        }

        & > .message-input {
            background-color: red;
        }
    }
}