body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#root {
    width: 100%;
}



.loggedOut {
    color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    & > form{
        display: flex;
        flex-direction: column;
    }
    #login-block {
        background-color: white;
    }
}

.loggedIn {
    h1 {
        text-align: center;
        background-color: #007bff;
        color: white;
        margin: 0;
        padding: 10px 0;
        width: 100%;
    }

    #chat-container {
        display: flex;
        flex: 1;
        height: calc(100vh - 50px);
        color: black;
    }

    #chat-bar {
        width: 200px;
        background-color: #f8f8f8;
        border-right: 1px solid #ddd;
        overflow-y: auto;

        display: flex;
        flex-direction: column;
    }

    #logout-btn {
        justify-self: flex-end;
        margin-top: auto;
        margin-bottom: 12%;
    }

    #chat-bar a {
        display: block;
        padding: 10px;
        color: #007bff;
        text-decoration: none;
    }

    #chat-bar a:hover {
        background-color: #f0f0f0;
    }

    #message-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: #ffffff;
    }

    #messages {
        list-style-type: none;
        margin: 0;
        flex: 1;
        overflow-y: auto;
        padding: 20px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    #messages li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    #messages li:nth-child(odd) {
        background-color: #f9f9f9;
    }

    #input-container {
        display: flex;
        padding: 10px;
        margin-bottom: 20px;
        background-color: #f0f0f0;
        border-top: 1px solid #ddd;

        & > form {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }

    #input-container input {
        flex: 1;
        color: #1a1a1a;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 10px;
        box-sizing: border-box;
        background-color: white;
    }


    #input-container button {
        padding: 10px 20px;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 4px;
        cursor: pointer;
    }

    #input-container button:hover {
        background-color: #0056b3;
    }

    .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        color: #1a1a1a;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .popup-inner {
        position: relative;

        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        & h2:first-child {
            margin-top: 0;
        }
    }

    .close-btn {
        background-color: red;
        border-radius: 50%;
        display: flex;
        justify-content: center; /* Horizontally center */
        align-items: center; /* Vertically center */
        height: 25px;
        width: 25px;
        padding: 10px;
        position: absolute;
        top: -10px;
        right: -10px;
        cursor: pointer;

    }
}